body{
  background-image: url(gradasi\ wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
     color:rgb(254, 101, 127); 
     font-size: 80px; 
     font-family: "Italianno", cursive;
     text-align: center;
}
h3{
     color: rgb(254, 101, 127); 
     font-family: "Denk One", sans-serif;
     font-weight: 50PX ;
     text-align: center; 
}
h4{
     text-align: center;
}
p{
     text-align: center;
}
body{
     border-image: url(bintang.jpg);
     border-left: 50px;
}
