.container{
    width: 600px;
    height: 150px;
    border: 5px solid #333;
    margin: 30px auto;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /*flex-wrap: wrap; */
    /*justify-content: space-evenly;*/
    align-items: flex-start;
}

.container::after {
    content: '';
    display: block;
}

.container div {
    
    background-color: rgb(149, 149, 255);
    margin: 5px;
    flex: 1;
}

.container div.dua {
    flex: 2;
    align-self: flex-end;
}
